.div-main-content{
    color: white;
    margin: 8px;
}

.maincontent-logo{
    width: 60%;
    position: absolute;
    top: 114px;
    right: -130px;
    filter: grayscale(100%);
    opacity: 10%;
}

::marker{
    color: rgb(0, 204, 255);
    font-size: 1.4em;
}